{% extends 'base.html' %} 

{% block title %}{{bid}} stats{% endblock %} 

{% block content %}
<div id = "Player Names: Damage and Healing Breakdown" class="container-fluid p-3">
    <div id = "google ad" class="row">

    </div>
    <div class = 'row'>
        <div class = 'col-6'>
            <h3 style="text-align:center;color:#01FE80">{{ core_info['P1']['name'] }} - {{ core_info['P1']['result'] }} : Damage and Healing Stats</h3>
        </div>
        <div class = 'col-6'>
            <h3 style="text-align:center;color:#01FE80">{{ core_info['P2']['name'] }} - {{ core_info['P2']['result'] }} : Damage and Healing Stats</h3>
        </div>
    </div>
</div>
<br>

<br>
<div id = "Dmg Dealt" class="container-fluid p-3">
    <div class = 'row'>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#0101FE">Damage Dealt = {{ totals['P1 - Total Dmg Dealt Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P1 - Dmg Dealt Breakdown'] }}">
        </div>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#0101FE">Damage Dealt = {{ totals['P2 - Total Dmg Dealt Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P2 - Dmg Dealt Breakdown'] }}">
        </div>
    </div>
</div>
<br>

<br>
<div id = "Dmg Types"  class="container-fluid p-3">
    <div class = 'row'>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#0101FE">Total Damage by Type = {{ totals['P1 - Total Dmg Type Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P1 - Dmg Type Breakdown'] }}">
        </div>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#0101FE">Total Damage by Type = {{ totals['P2 - Total Dmg Type Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P2 - Dmg Type Breakdown'] }}">
        </div>
    </div>
</div>
<br>

<br>
<div id = "Dmg Received"  class="container-fluid p-3">
    <div class = 'row'>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#0101FE">Damage Received = {{ totals['P1 - Total Dmg Received Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P1 - Dmg Received Breakdown'] }}">
        </div>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#0101FE">Damage Received = {{ totals['P2 - Total Dmg Received Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P2 - Dmg Received Breakdown'] }}">
        </div>
    </div>
</div>
<br>

<br>
<div id = "Healing"  class="container-fluid p-3">
    <div class = 'row'>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#FE0180">Total Healing by Mon = {{ totals['P1 - Total Healing Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P1 - Healing Breakdown'] }}">
        </div>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#FE0180">Total Healing by Mon = {{ totals['P2 - Total Healing Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P2 - Healing Breakdown'] }}">
        </div>
    </div>
</div>
<br>

<br>
<div id = "Healing Types"  class="container-fluid p-3">
    <div class = 'row'>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#FE0180">Total Healing by Type = {{ totals['P1 - Total Healing Heal Type Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P1 - Heal Type Breakdown'] }}">
        </div>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#FE0180">Total Healing by Type = {{ totals['P2 - Total Healing Heal Type Breakdown'] }}% HP</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P2 - Heal Type Breakdown'] }}">
        </div>
    </div>
</div>
<br>

<div id = "Player Names:Efficiency" class="container-fluid p-3">
    <div id = "google ad" class="row">

    </div>
    <div class = 'row'>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#01FE80">{{ core_info['P1']['name'] }} - {{ core_info['P1']['result'] }} : Efficiency Stats</h3>
        </div>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#01FE80">{{ core_info['P2']['name'] }} - {{ core_info['P2']['result'] }} : Efficiency Stats</h3>
        </div>
    </div>
</div>

<br>
<div id = "Turn Actions"  class="container-fluid p-3">
    <div class = 'row'>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#FEFE01">Total Turns = {{ totals['P1 - Total Turns'] }}</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P1 - Turn Action Breakdown'] }}">
        </div>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#FEFE01">Total Turns = {{ totals['P2 - Total Turns'] }}</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P2 - Turn Action Breakdown'] }}">
        </div>
    </div>
</div>
<br>
           
<br>
<div id = "Dmg per Entrance"  class="container-fluid p-3">
    <div class = 'row'>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#0101FE">Damage Per Entrance</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P1 - Dmg Per Entrance'] }}">
        </div>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#0101FE">Damage Per Entrance</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P2 - Dmg Per Entrance'] }}">
        </div>
    </div>
</div>
<br>

<br>
<div id = "Healing per Entrance"  class="container-fluid p-3">
    <div class = 'row'>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#FE0180">Healing Per Entrance</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P1 - Healing Per Entrance'] }}">
        </div>
        <div align = "middle" class = 'col-6'>
            <h3 style="text-align:center;color:#FE0180">Healing Per Entrance</h3>
            <img class='img-fluid' src="data:image/png;base64,{{ graphs['P2 - Healing Per Entrance'] }}">
        </div>
    </div>
</div>
<br>

{% endblock %}
