{% extends 'base.html' %} 

{% block title %}Error!{% endblock %} 

{% block content %}
    <div class="container-fluid p-3"
        style = "background-color: black; width:100%;">
        <div class = 'row'>
            <div class = 'col-12' style="text-align:center">
                <h1 class = 'display-4' style="text-align:center;color:#fefe01">Oops! Something went wrong!</h1>
                <h1 class = 'display-4' style="text-align:center;color:#fefe01">The Beheeyem employed have been notified of the error and will take a look!</h1>
                <h1 class = 'display-4' style="text-align:center;color:#fefe01">Make sure you entered the full url correctly</h1>
            </div>
        </div>
    
        <div class="container-fluid p-3">
        </div>
        <div class="container-fluid p-3">
            <div class="row">
                <h1 class = 'display-4' style="text-align:center;color:#FE0180">Known Issues Include:</h1>
            </div>
            <div class = 'row'>
                <ul>
                    <li style="text-align:start;color:#FE0180">Having a typo in the url</li>
                    <li style="text-align:start;color:#FE0180">Formats without team preview before battle</li>
                    <li style="text-align:start;color:#FE0180">Perish Song</li>
                    <li style="text-align:start;color:#FE0180">Ditto</li>
                    <li style="text-align:start;color:#FE0180">Zoroark</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
