<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Showdown Analyzer{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/opponent_scout">Opponent Scout</a>
        <a href="/user_account">User Account</a>
        <a href="/login">Login</a>
    </nav>
    <div class="background-image"></div>
    {% block content %}{% endblock %}
</body>

</html>