{% extends 'base.html' %}

{% block title %}Submit Replay{% endblock %}

{% block content %}
<div class="container-fluid py-5 bg-dark">
    <div class="row justify-content-center">
        <div class="col-8 text-center text-warning">
            <h1 class="display-1">Welcome</h1>
            <h1 class="display-1">To</h1>
            <h1 class="display-1">Ninjackalytics!</h1>
        </div>
    </div>
</div>
<div class="container-fluid py-5 bg-dark">
    <form method="post">
        <div class="form-group row justify-content-center">
            <div class="col-auto">
                <label for="url" class="display-4 text-warning">Enter Replay URL:</label>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-6">
                <input type="url" class="form-control form-control-lg" id="url" name='url'
                    placeholder="https://replay.pokemonshowdown.com/" required>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit Battle:</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}